<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Commerce</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg sticky-top">
        <div class="container-fluid">
            <div class="brand">
                <a class="navbar-brand" href="#">EazyCommerce</a>
                <img src="../static/image/loyalty.svg" class="brand-img">
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                <ul class="navbar-nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" href={{url_for("index")}}>Principal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{url_for("usuario")}}>Usuários</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Anuncios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" {{url_for("categoria")}}>Categorias</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="body-content">
        <div class="container">
            <div class="page-header">
                <h4>Cadastro de {{titulo}}</h4>
            </div>
            <form action="/anuncio/criar" class="needs-validation" method="POST" novalidate>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome" required>
                    <label for="nome">Nome</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="textarea" class="form-control" rows="4" cols="50" id="desc" name="desc" placeholder="Descrição" required>
                    <label for="desc">Descrição</label>
                </div>

                <div class="form-floating mb-3">                  
                    <input type="text" class="form-control" id="qtd" name="qtd" placeholder="Quantidade" required>
                    <label for="qtd">Quantidade</label>
                </div>

                <div class="form-floating mb-3">                 
                    <input type="text" class="form-control" id="preco" name="preco" placeholder="Preço" required>
                    <label for="preco">Preço</label>
                </div>

                <div class="mb-3">
                    <label for="cat" class="form-label">Categoria</label>
                    <select id="cat" class="form-select" name="cat" required>
                        <option selected disabled value ="">Selecione uma...</option>
                        {% for categoria in categorias %}
                        <option value="{{ categoria.id }}">{{ categoria.nome }}</option>
                        {% endfor %}
                    </select>
                    <div class="invalid-feedback">
                        Selecione uma Opção Válida.
                    </div>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="uso" name="uso" placeholder="Id de Usuario" required>
                    <label for="usu">Usuario</label>
                </div>

                <button type="submit" class="btn btn-primary" value="Cadastrar">Cadastrar</button>
            </form>
        </div>

        <div class="container">

            <div class="page-header">
                <h4>Lista de {{titulo}}</h4>
            </div>
            <table class="table table-striped table-responsive table-bordered">
                <thead class="thread-default">
                    <tr class="thread-lines">
                        <th>Nome</th>
                        <th>Desc</th>
                        <th>Qtd</th>
                        <th>Preco</th>
                        <th>Categoria</th>
                        <th>Deletar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for anuncio in anuncios %}
                    <tr>
                        <td>{{ anuncio.nome }}</td>
                        <td>{{ anuncio.desc }}</td>
                        <td>{{ anuncio.qtd }}</td>
                        <td>{{ anuncio.preco }}</td>
                        <td>{{ anuncio.cat_id }}</td>
                        <td><button type="button" class="deleteBtn" href={{ url_for("deletaranuncio",id=anuncio.id) }}><img src="../static/image/trash.svg"> Deletar</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="../static/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="../static/js/sweetalert.js"></script>
</body>

</html>