<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Commerce</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg sticky-top">
        <div class="container-fluid">
            <div class="brand">
                <a class="navbar-brand" href="#">EazyCommerce</a>
                <img src="../static/image/loyalty.svg" class="brand-img">
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                <ul class="navbar-nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" href={{url_for("index")}}>Principal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{url_for("usuario")}}>Usuários</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{url_for("anuncio")}}>Anuncios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Categorias</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="body-content">
        <div class="container">
            <div class="page-header">
                <h4>Cadastro de {{titulo}}</h4>
            </div>
            <form action="/categoria/criar" class="needs-validation" method="POST" novalidate>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome da Categoria" required>
                    <label for="nome">Nome da Categoria</label>
                    <div class="invalid-feedback">
                        Insira um Nome
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="desc" name="desc" placeholder="Descrição" required>
                    <label for="desc">Descrição</label>
                    <div class="invalid-feedback">
                        Insira uma Descrição
                    </div>
                </div>

                <input type="submit" class="btn btn-primary" value="Cadastrar">
            </form>
        </div>

        <div class="container">
            <div class="page-header">
                <h4>Lista de {{titulo}}</h4>
            </div>
            <table class="table table-striped table-responsive table-bordered">
                <thead class="thread-default">
                    <tr class="thread-lines">
                        <th>Nome</th>
                        <th>Descricao</th>
                    </tr>
                </thead>
                <tbody>
                    {% for categoria in categorias %}
                    <tr>
                        <td>{{ categoria.nome }}</td>
                        <td>{{ categoria.desc }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
        <script src="../static/js/main.js"></script>
</body>

</html>